* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: navy;
}
.header {
    background-image: url(https://publicdomainq.net/images/201708/07s/publicdomainq-0011978gsy.jpg;);
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: grey;
    text-decoration: underline magenta;
    opacity: 0.7;
    letter-spacing: 7px;
}
.nav-list {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
    border-bottom: 5px solid gold;
    border-top: 5px solid gold;
    background-color: rgb(255, 0, 0,0.5);
    color:snow;
}
.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.main-visual {
    width: 100%;
    height: 10%;
    margin-top:-24px;
}
