* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: crimson;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    color: snow;
    background-color: indigo;
    letter-spacing: 10px;
    font-family: 'Caveat',cursive;
    border: double 10px silver;
}
.btn1 {
    color: slateblue;
    background-color: orange;
    display: flex;
    justify-content: center;
    padding: 35px 55px;
    margin: 180px auto;
}
.btn1:hover{
    cursor: pointer;
    cursor: hand;
}

.footer{
    margin-top: auto;
}
.footer h2 {
    width: 100%;
    text-align: center;
    color: snow;
    background-color: blue;
    height: 100px;
    line-height: 100px;
    border: double 3px silver;
}