* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    width: 100vw;
    background-color: navy;
}
.header {
    background-image: url(https://publicdomainq.net/images/201708/07s/publicdomainq-0011978gsy.jpg;);
    width: 100%;
    padding: 20px 0;
    text-align: center;
    opacity: 0.7;
    letter-spacing: 7px;
}
.header h1 {
    color: grey;
    font-size: 45px;
}
.M {
    color: magenta;
}
.P {
    color: lightgreen;
}

.header h5 {
    color: cadetblue;
}
.nav-list {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
    border-bottom: 5px solid gold;
    border-top: 5px solid gold;
    background-color: rgb(255, 0, 0,0.5);
    color:snow;
}
.nav-list p {
   padding-top: 10px;
}
.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.main-visual{
  background-color: black;
  height: 40px;
  text-align: center;
}
.name span {
  animation: loading 1.3s infinite alternate;
  color: snow;
  font-size: 30px;
}
name span:nth-child(2) {
  animation-delay: .1s;
}
name span:nth-child(3) {
  animation-delay: .2s;
}
name span:nth-child(4) {
  animation-delay: .3s;
}
@keyframes loading {
  0% {
    opacity:1;
  }
  100% {
    opacity: 0;
  }
}

.ore {
  background-image: url(image0.jpeg);
  background-size: cover;
  width: 480px;
  height: 300px;
  margin: 22px auto 0 auto;
  display: flex;
  justify-content: center;
}
.main-visual {
  border-bottom: 3px solid gold;
}
.main-profile {
  margin-top: 355px;
  background-color: snow;
  padding-bottom: 20px;
}
.main-profile li {
  list-style: none;
}
.main-profile h1 {
  border-top:2px solid brown ;
  color:brown;
  background-color: olive;
  border-bottom:2px solid brown;
  padding-bottom: 2px;
  
}
.main-history {
  background-color: snow;
  margin-top: 30px;
  padding-bottom: 10px;
  
}
.main-history h1 {
  border-top:2px solid brown ;
  color: brown;
  background-color: olive;
  border-bottom:2px solid brown;
  padding-bottom: 2px;
}
.main-history table {
  width: 100%;
  text-align: center;
  background-color: orange;
}

.school h2 {
  margin-top: 25px;
  background-color: purple;
  color: orange;
}
.school h4 {
  padding-top: 20px;
  text-decoration: underline 2px solid orange;
}

.after-graduation h2 {
  margin-top: 25px;
  background-color: purple;
  color: orange;
}
.scissor {
  color: silver;
}

.after-graduation h4 {
  padding: 20px 0 10px 0;
  text-decoration: underline 2px solid orange;
}

.main-objctive {
  background-color: snow;
}
.main-objctive h1 {
  text-align: center;
  color: brown;
  margin-top: 30px;
  padding-bottom: 30px;
  background-color: olive;
  border-top: 2px solid brown;
  border-bottom:2px solid brown;
  padding-bottom: 2px
}
.main-objctive h2 {
  text-align: center;
  font-size: 30px;
  color: lightsalmon;
  padding-top: 20px;
}
.will {
  text-align: center;
  text-decoration: underline 2px solid red;
  padding-top: 20px;
  padding-bottom: 25px;
  font-size: 20px;
}
.main-objctive h3 {
  padding-bottom: 25px;
  text-align: center;
  text-decoration: underline 2px solid orange;
}
.footer {
  height: 200px;
  margin-top: 50px;
  background-color: grey;
  text-align: center;
}

button{
  display: inline-block;
  margin: 0 auto;
}
.btn1 {
  margin: 20px;
  border-radius: 5px;
  background-color: red;
  padding: 20px;
  text-align: center;
  color: white;
  width: 150px;
}

.btn2 {
  margin: 20px;
  border-radius: 5px;
  background-color: green;
  padding: 20px;
  text-align: center;
  color: white;
  width: 150px;
}